# Flutter & Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
.pub-cache/
build/
generated_plugin_registrant.dart
*.dart.js
*.info.json

# IDEs
.idea/
*.iml

# macOS
.DS_Store

# Windows
Thumbs.db

# Linux
*.swp

# Logs & Temp
*.log
*.tmp

# Coverage
coverage/
